#about {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 100%);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#about h1 {
  font-size: xx-large;
  font-family: "Graduate", serif;
  margin-bottom: 1rem;
  color: black;
}

#about p {
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  max-width: 80vw;
  color: black;
  text-align: center;
}

@keyframes gradientPulse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
