
/* Footer Styling */
footer {
    background: rgba(0, 0, 0, 0.7); /* Match the header background or use a different color */
    color: #fff;
    padding: 1rem;
    text-align: center;
    /* position: fixed; Ensure it stays relative to the page content */
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
    animation: fadeIn 1s ease-in forwards; /* Added animation */
}

footer p {
    margin: 0;
}
